<% include partials/header %>

  <h1> Camps </h1> 
  
  <% campgrounds.forEach(function(campground){ %>
    <div> 
      <h4> <%= campground.name  %> </h4>
      <img src=" <%= campground.image %> ">
    </div>
   
    <% }); %>
  
  <a href="/newCamp">Add new Camp</a>
<% include partials/footer %>