<% include partials/header %>
<h1> More info right here!<h1>
    <h4> <%=campground.name%> </h4>
    <img src="<%=campground.image%>"> 
    <p> <%=campground.description %></p>
<% include partials/footer %>